html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.125rem;
  padding: 50px;
}

/*
Nákupní seznam:
- nastyluj seznam tak, aby vypadal jako to-do list
- před každou položkou bude prázdný čtvereček
- položky, které mají class="done", budou mít ve čtverečku textové emoji ✔️
*/

ul {
  margin: 0;
  padding: 0;  
}

li {
  list-style: none;
  display: flex;
  margin-top: 10px;
  align-items: center;
  padding-block: 10px;
  border-bottom: 1px solid grey;
}

li::before {
  content: "";  
  text-align: center;
  display: block;
  height: 30px;
  width: 30px;
  border: solid black 1px;
  margin-right: 10px; 
}

li.done::before {
  content: "✔️";
}

li.done {
  color: grey;
}


